html {
    font-family:'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.readSection {
    display: none;
}
body {
    width: 270px;
    background-color: #f9f8fb;
}
.pullRight {
    float:right;
}
ul .unRead, ul .read {
    list-style: none;
}
ul {
    padding-left: 5px;
    margin-top: 5px;
}
h3 {
    margin-bottom: 0;
    color: rgb(2, 78, 104);
}
.readLinks {
    display: none;
}
.readH3 {
    cursor:pointer;
    display: inline-block;
}
.closeIcon {
    visibility:hidden;
    cursor: pointer;
    color: rgb(255, 162, 64);
}
.unRead:hover .closeIcon, .read:hover .closeIcon {
    visibility:visible;
}
.subList {
    font-size: 9px;
    list-style: none;
    margin-right: 20px;
    text-align: right;
}
a {
    text-decoration: none;
    color: rgb(6, 121, 159);
}
a:hover {
    color:rgb(255, 131, 0);
    text-decoration: underline;
}
.saveButton {
    display: block;
    width: 100%;
    color: #fff;
    background-color: rgb(255, 162, 64);
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 6px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
    border: 1px solid transparent;
    white-space: nowrap;
}
.saveButton:hover {
    background-color: rgb(255, 131, 0);
}
.deleteAllRead {
    font-size: 9px;
    display: none;
    color: rgb(255, 162, 64);
}
.deleteAllRead:hover {
    color: rgb(166, 85, 0);
}
.timeago {
    color: rgb(166, 85, 0);
}
